---
AlignAfterOpenBracket: "Align"
AlignConsecutiveAssignments: false
AlignEscapedNewlines: "DontAlign"
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: "Inline"
AllowShortIfStatementsOnASingleLine: "WithoutElse"
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterReturnType: "None"
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true
BinPackParameters: true
BreakBeforeBinaryOperators: "None"
BreakBeforeBraces: "Attach"
BreakBeforeTernaryOperators: true
BreakStringLiterals: true
ColumnLimit: 80
CommentPragmas: "https?://"
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: "Regroup"
IncludeCategories:
  - Regex: "^<.*"
    Priority: 1
  - Regex: "^\".*"
    Priority: 2
IndentCaseLabels: true
IndentPPDirectives: "AfterHash"
IndentWidth: 4
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2
PointerAlignment: "Right"
ReflowComments: true
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: "ControlStatements"
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: "Never"

---
Language: "Cpp"
AccessModifierOffset: -4
AllowShortLambdasOnASingleLine: "All"
AlwaysBreakTemplateDeclarations: "No"
BreakConstructorInitializers: "AfterColon"
BreakInheritanceList: "AfterColon"
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
FixNamespaceComments: true
NamespaceIndentation: "All"
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: false
Standard: "c++17"

# vim:ft=yaml:
