* text=auto linguist-detectable=true

.config/dircolors linguist-language=dircolors

.config/git/config linguist-language=gitconfig

.config/yay/config.json linguist-language=JSON

.config/aria2/aria2.conf linguist-language=INI
.config/ccache.cfg linguist-language=INI
.config/htop/htoprc linguist-language=INI
.config/mpv/input.conf linguist-language=INI
.config/mpv/mpv.conf linguist-language=INI
.config/neofetch/config.conf linguist-language=INI
.config/newsboat/config linguist-language=INI
.config/pip/pip.conf linguist-language=INI
.config/plasma-localerc linguist-language=INI
.config/yt-dlp/config linguist-language=INI
.local/share/gnupg/gpg.conf linguist-language=INI
.local/share/konsole/Default.profile linguist-language=INI
.local/share/konsole/Gruvbox8.colorscheme linguist-language=INI
.local/share/konsole/NvimTerm.profile linguist-language=INI

.config/pythonrc.py linguist-language=Python
.config/qutebrowser/config.py linguist-language=Python

.config/inputrc linguist-language=Readline-Config

.bash_profile linguist-language=Shell
.config/aria2/notif.sh linguist-language=Shell
.config/newsboat/notif.sh linguist-language=Shell
.local/arch/init.sh linguist-language=Shell
.local/share/bash/aliases.sh linguist-language=Shell
.local/share/bash/bashrc.sh linguist-language=Shell
.local/share/bash/functions.sh linguist-language=Shell

.local/arch/packages.aur.txt linguist-language=Text
.local/arch/packages.repo.txt linguist-language=Text

.config/pypoetry/config.toml linguist-language=TOML

.config/nvimpager/init.vim linguist-language=Vim-script
.config/vifm/vifmrc linguist-language=Vim-script

.config/fontconfig/fonts.conf linguist-language=XML

# not actually YAML yet
# .yarnrc linguist-language=YAML

# skews the stats due to its size
.config/X11/XCompose linguist-language=XCompose linguist-detectable=false

# these aren't part of the dotfiles
.gitattributes linguist-detectable=false
.gitignore linguist-detectable=false
LICENSE linguist-detectable=false
README.md linguist-detectable=false
