* text=auto linguist-detectable=true

.config/dircolors linguist-language=dircolors

.config/git/config linguist-language=gitconfig

.config/yarn/global/package.json linguist-language=JSON
.config/yay/config.json linguist-language=JSON
.eslintrc.json linguist-language=JSON
.htmlhintrc.json linguist-language=JSON
.pug-lintrc.json linguist-language=JSON
.stylelintrc.json linguist-language=JSON

.config/aria2/aria2.conf linguist-language=INI
.config/ccache.cfg linguist-language=INI
.config/htop/htoprc linguist-language=INI
.config/konsolerc linguist-language=INI
.config/mpv/input.conf linguist-language=INI
.config/mpv/mpv.conf linguist-language=INI
.config/newsboat/config linguist-language=INI
.config/pip/pip.conf linguist-language=INI
.config/plasma-localerc linguist-language=INI
.config/pycodestyle linguist-language=INI
.config/youtube-dl/config linguist-language=INI
.gnupg/gpg.conf linguist-language=INI
.local/share/konsole/Default.profile linguist-language=INI
.local/share/konsole/Gruvbox8.colorscheme linguist-language=INI
.local/share/konsole/NvimTerm.profile linguist-language=INI

.config/qutebrowser/config.py linguist-language=Python

.bash_aliases linguist-language=Shell
.bash_funcs linguist-language=Shell
.bash_profile linguist-language=Shell
.bashrc linguist-language=Shell
.config/aria2/notif.sh linguist-language=Shell
.config/newsboat/notif.sh linguist-language=Shell
.local/arch/init.sh linguist-language=Shell

.local/arch/packages.aur.txt linguist-language=Text
.local/arch/packages.repo.txt linguist-language=Text

.config/pypoetry/config.toml linguist-language=TOML

.config/vifm/vifmrc linguist-language=Vim-script

.config/fontconfig/fonts.conf linguist-language=XML

.clang-format linguist-language=YAML
.clang-tidy linguist-language=YAML

# not actually YAML yet
# .yarnrc linguist-language=YAML

# skews the stats due to its size
.XCompose linguist-language=XCompose linguist-detectable=false

# these aren't part of the dotfiles
.gitattributes linguist-detectable=false
.gitignore linguist-detectable=false
LICENSE linguist-detectable=false
README.md linguist-detectable=false
